<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceProject"
        tools:targetApi="31">
        <activity
            android:name=".account.admin.AdminActivity"
            android:exported="true"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.AttendanceProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Facebook SDK Meta-data -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationProtocolScheme"
            android:value="@string/facebook_login_protocol_scheme" />

        <activity
            android:name=".account.teacher.RecognizeActivity"
            android:exported="false" />
        <activity
            android:name=".account.teacher.ViewAttendanceTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".account.student.ViewAttendanceStudentActivity"
            android:exported="false" />
        <activity
            android:name=".account.teacher.ManualAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".account.teacher.TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".account.student.OldStudentActivity"
            android:exported="false" />
        <activity android:name=".account.auth.RoleSelectionActivity"/>
        <activity android:name=".account.auth.RegisterTeacherActivity"/>
        <activity android:name=".account.auth.RegisterStudentActivity"/>

        <activity
            android:name=".account.student.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".imagepicker.MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".real_time.MainActivity3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".imagepicker.RecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".imagepicker.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".imagepicker.RecognitionActivityMine"
            android:exported="false" />
        <activity
            android:name=".imagepicker.RegisterActivityMine"
            android:exported="false" />
        <activity
            android:name=".account.auth.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".account.auth.LoginUserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>